{% extends "leyout.html" %}

{% block body %}

<h3>About us</h3>
<hr>
<h3>Horbax company</h3>
E-pazarlamanın birçok farklı alanında yüksek şeffaflık ve profesyonellik çerçevesinde aracilik yapan mühendisler tarafından,
en iyi teklifleri en iyi fiyatlarla sunmak ve en kaliteli çeşitleri seçmek için kurulmuş bir şirkettir.

<hr>
<h3>HORBAX size sunduğu özellikler:</h3>
<hr>
<ul>
<li> Satıcı ile alıcı arasında şeffaf ve profesyonel bir şekilde arabuluculuk yapmak.</li>
   <li> Mümkün olan en iyi kaliteyle en iyi fiyatları sunmak.</li>
   <li> Güvenilirliği tam olarak korumak için düzenli aralıklarla mal ve ürün sevkiyat sürecini dikkatlice denetler.</li>
   <li>  Alıcının isteğine göre şekil ve kalite çeşitliliği.</li>
   <li>Şirketlere, ürünlerinin başarılı bir şekilde reklamını yapmalarını sağlamak için profesyonel e-pazarlama sağlar.</li>
   <li>Her alan için uygun olan en iyi yatırım fırsatlarını ayrı ayrı aramak.</li>
    <li>Ürün sahipleri, ticari ve müteahhitlik ajansları için tedarik çalışmalarını koordine edin.</li>
    <li>Gerekli hizmeti bulmak ve sağlamak.</li>
    </ul>

{% endblock %}