{% extends "leyout.html" %}
{% block body %}
{% from "includes/formhelpers.html" import render_field %}
<h3>Join us</h3>
<hr>
<form method="post">
    <id>
    {{ render_field(form.name,class="form-control") }}
    {{ render_field(form.username,class="form-control") }}
    {{ render_field(form.email,class="form-control") }}
    {{ render_field(form.password,class="form-control") }}
    {{ render_field(form.confirm,class="form-control") }}
        <button type="submit" class="btn btn-primary">submit</button>
        </id>

    </form>
{% endblock body %}